body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  position: relative;
  text-align: center;
}

#image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border: 5px solid white;
}

#bpm {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
}

#random-message {
    position: fixed;
    top: 20px; /* Slightly lower from the top */
    left: 20px; /* Adjusted further left */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px; /* Increased padding for better spacing */
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 18px; /* Increased font size */
    font-weight: bold; /* Make the text bold */
    display: none; /* Initially hidden */
    z-index: 9999; /* Ensure it stays on top */
}
